.App {
  text-align: center;
  margin-top: 20px;
}

.counter-buttons button {
  margin-top: 10px;
  margin-right: 20px;
}

.counter-error-block {
  margin-top: 15px;
}

.alert-danger {
  width: max-content;
  margin: 0 auto;
}
